header.header 
    /* div.header__column 에서 div 생략 가능 */
    .header__column
        a(href=routes.home)
    .header__column
        ul
            li
                a(href=routes.join) Join 
            li
                a(href=routes.login) Log In
