doctype html
html
    head
        title #{pageTitle} | #{siteName}
    body
        include ../partials/header
        main
            block content
        /* [ partials 를 통한 footer import ]    
        include ../partials/footer