/* express, pug는 '/views' 디렉토리에 views 템플릿을 저장 */
/* pug: express 의 view engine 으로 템플릿 언어임 */


/* layout(main.pug)을 활용하기 위해 extend */
extends layouts/main

/* block 안에 아래의 코드를 overwrite */
block content
    p Hello 