//- express, pug는 '/views' 디렉토리에 views 템플릿을 저장 
//- pug: express 의 view engine 으로 템플릿 언어임 


//- layout(main.pug)을 활용하기 위해 extend 
extends layouts/main
//- [ videoBlock 설정하기 ]
include mixins/videoBlock


//- block 안에 아래의 코드를 overwrite
block content
    .videos
        //- [ videos 배열 노출 ]
        each potato in videos
            +videoBlock({
                id: potato.id,
                title: potato.title,
                views: potato.views,
                videoFile: potato.fileUrl
            })
